@import '../../node_modules/@radix-ui/colors/black-alpha.css';
@import '../../node_modules/@radix-ui/colors/mauve.css';
@import '../../node_modules/@radix-ui/colors/violet.css';

.tiptap {
    font-size: 1.1em;
}

/* Basic editor styles */
.tiptap > * + * {
    margin-top: 0.75em;
}

.tiptap ul, .tiptap ol {
    padding: 0 1rem;
}

.tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5, .tiptap h6 {
    line-height: 1.1;
}

.tiptap code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
}

.tiptap pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.tiptap pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.tiptap img {
    max-width: 100%;
    height: auto;
}

.tiptap blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}

.tiptap button {
    all: unset;
}

.ToggleGroup {
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.ToggleGroupItem {
    cursor: pointer;
    background-color: white;
    color: var(--mauve-11);
    height: 35px;
    width: 35px;
    display: flex;
    font-size: 15px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    box-shadow: 0 2px 2px var(--black-a7);
}

.ToggleGroupItem:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ToggleGroupItem:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ToggleGroupItem:hover {
    background-color: var(--violet-3);
}

.ToggleGroupItem.is-active {
    background-color: var(--violet-5);
    color: var(--violet-11);
}

.ToggleGroupItem:focus {
    position: relative;
    box-shadow: 0 0 0 2px var(--violet-11);
}

.BubbleMenuGroup {
    border-radius: 4px;
    box-shadow: 0 2px 2px var(--black-a7);
}

.BubbleMenuItem {
    padding: 0.5em;
    background: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid var(--violet-6);
}

.BubbleMenuItem svg {
    color: var(--violet-11);
    font-weight: bold;
    display: inline;
}

:root {
    --gradient-shadow: linear-gradient(
            15deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000
    );
}

.shadow {
    position: relative;
    padding: 0 10px;
    border-radius: 4px;
    margin: 0 20px 20px;
    min-height: 64px;
    background: linear-gradient(0deg, #fff, #fff);
}

.ai-block-editor-block {
    display: flex;
    flex-direction: column;
}

.ai-block-editor {
    width: 100%;
}

.ai-block-editor-inner {
    min-height: 64px;
}

.ai-block-action-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ai-block-action-block div {
    flex: 1;
}

.llm-type-select button span {
    display: inline-block;
}

.llm-type-select {
    justify-content: flex-start;
}

.ai-block-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.ai-block-actions button {
    border-radius: 4px;
    padding: 0 1em;
    background: var(--mauve-4);
    border: 2px solid var(--mauve-5);
    margin-right: 4px;
}

.ai-block-actions button svg {
    margin-left: 8px ;
}

.ai-block-actions button span {
    padding: 0.2em;
    font-size: 10px;
    line-height: 10px;
    border-radius: 4px;
    background: var(--mauve-2);
}

.ai-block-actions svg {
    display: inline-block;
}

.shadow:before,
.shadow:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

.shadow:after {
    filter: blur(10px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.ProseMirror-focused {
    outline: #0d0d0d;
}

.ProseMirror p {
    margin: 0;
}

.ProseMirror insert {
    color: green;
    text-decoration: underline;
}

.ProseMirror delete {
    color: red;
    text-decoration: line-through;
}
